
@-webkit-viewport   { width: auto; }
@-moz-viewport      { width: auto; }
@-ms-viewport       { width: auto; }
@-o-viewport        { width: auto; }
@viewport           { width: auto; }


h1{color:#db1b51;
	font-family: Georgia;
	
}

h4{color:white;}
p{color: #db1b51;}

header {
	background-color: black; margin-top:0px
	; text-align:center; width:100%;
	
	
}

header, section, footer, aside, article, figure {
	display: block; margin-top: 0;
}


.loginRow {border: none;}



.puhelin{diplay:none;}

body {
	
	background-image: url("Kuvia/ruokaa.jpg"); 
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	}

.esittely {margin-top: 12px;}

#flag {  height: 20px; width:auto; float: right;
		  padding: 0px;
		 margin-top: 2px;
		 margin-right: 35px;
}

#logo {float: left;
		margin-top: 0px;
		width:auto; height:135px;}

.p1{
	font-size: 15px;
	color: red;
	text-align:right;

}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1, h2, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}

h3{color:white;
	
}


.taytteet{width:90%;
	
}

.pcs{padding-left: 30px; 
	
}

.hMode2{Font-size:30px;
	
}


.container {
	
	width: 70%;
	background-color: black;
	margin: 0 auto; 
	
}

.loginrow2{text-align: right;
			font-size: 10px;
			padding-right:20px;
	
}

.maara{padding-left:30px;
	
}

section{padding: 10px 0;
}
.content {
	padding-top:50px;
	width: auto;
	max-width: 100%;
	float: left;

}
aside {
	float: left;
	width: auto;
	background-color: black;
	padding: 10px 0;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 15px; align-content:center 
	margin-left: -100;/* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */

nav {
	background-color: black;   text-align:center;
	display:inline-block; position: fixed; width:70%; 
	margin-left: 20; margin-top:0px;
	
}
nav ul{border-style:none;
	list-style: none;
	float:right;
	margin-bottom: 15px; 
}
nav li {border-style:none; 
	 display:inline-block; 
	 padding: 8px;
	 height: 20px; 
	 width:auto;
	 padding: 5px 5px 5px 15px;
	 
}
nav a, nav a:visited { 
	
	display: block; 
	width: 100%;  
	text-decoration: none;
	background-color: black;
}
nav a:hover, nav a:active, nav a:focus { 
	background-color: black;
	color: #3AEE58;
}

button {background-color: black; color: white; border: none;}



.dropdown {
	background-color: black;
    position: relative;
    display: inline-block;
    margin-top: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    color: black;
    margin-left: -32px;
}

.dropdown-content a {
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}

#LoginLogo { background-color: black;}


/* puhelin jutut piiloitettu*/
.puhelin {display:none;}
a:link {
	color: white;
	 /*text-decoration: underline;       unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #ffffff;
	text-decoration: underline;
}
a:hover, a:active, a:focus
	text-decoration: none;
}



.submitImage {float: right; background-color: black;}

.textField {background-color: white;
			padding-right:10px;
			
}

.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
	
table { width:auto, text-aling_ center;
}

.pizzaotsikko {margin-top: 10px;}
	
}
.pizzalista{ text-align:center; padding-bottom: 30%;
}

.pizzalista tr, th, td, table  {text-align:left; border-style:none; border:none; color:white;
}

.postii {width: 350px;}

.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

article {background-image: url("Kuvia/Taustakuva.jpg"); 
		 background-repeat: no-repeat; 
		 background-size: 100% 100%;
		 text-align: center;
		 min-height:900px;
		 margin-top:0px;
		 padding-top:110px;
		 
		 }


.tilaa {position: center;
		text-align: center;
		color:white}

footer {
	padding: 10px 0;
	background-color: black;
	text-align: center;
	position: relative;
	clear: both; 
	color: white;

	

}

.listaa-pizzat{
	width:80%;
	padding-left: 5%;
	
	
}

.listaa-pizzat2{width:30%;
			
}

.tilauslista{text-align: right;
	
}

 /* tilaa pizza css:ät!
 


.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
} 