
@-webkit-viewport   { width: auto; }
@-moz-viewport      { width: auto; }
@-ms-viewport       { width: auto; }
@-o-viewport        { width: auto; }
@viewport           { width: auto; }




header {
	background-color: red; margin-top:0
	; text-align:center; width:100%;  padding-top: 90px;
	
}

header, section, footer, aside, article, figure {
	display: block;
}
header img{
	margin-top: -65px;
	width: 200px;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: green;
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none; margin-top:80px;
}


.container {
	width: 90%;
	background-color: #FFFFFF;
	margin: 0 auto; 
}



section{padding: 10px 0; 
}
.content {
	padding-top:50px;
	width: auto;
	max-width: 100%;
	float: left;

}
aside {
	float: left;
	width: auto;
	background-color: #EADCAE;
	padding: 10px 0;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 15px; align-content:center /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */

nav {
	background-color: #ADB96E;   text-align:center;
	display:inline-block; position: fixed; width:90%;
}
nav ul{border-style:none;
	list-style: none;
	
	margin-bottom: 15px; 
}
nav li {border-style:none; 
	 display:inline-block; padding: 8px;
}
nav a, nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 100%;  
	text-decoration: none;
	background-color: #ADB96E;
}
nav a:hover, nav a:active, nav a:focus { 
	background-color: #ADB96E;
	color: black;
}
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus
	text-decoration: none;
}


.dropdown {
       display: none;
}

.dropdown-content { display:none;

}






.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
	
table { width:auto, text-aling_ center;
}
	
}
.pizzalista{ text-align:center; 
}

.pizzalista tr, th, td, table  {text-align:left; border-style:none; border:none;
}
tr:nth-child(even){background-color: #f2f2f2}

.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}



footer {
	padding: 10px 0;
	background-color: #CCC49F;
	text-align: center;
	position: relative;
	clear: both; 

}

