@-webkit-viewport   { width: auto; }
@-moz-viewport      { width: auto; }
@-ms-viewport       { width: auto; }
@-o-viewport        { width: auto; }
@viewport           { width: auto; }






html, body {height:100%;}
			

body { font-family:tahoma, arial, sans-serif;   
	background-image: url("Kuvia/ruokaa.jpg"); 
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	background-position: left top;
	background-attachment: fixed;
	
	margin: 0;
	padding: 0; }
      
article { 
background-image: url("Kuvia/Taustakuva.jpg"); 
		 background-repeat: no-repeat; 
		 background-size: 100% 100%;
		 text-align: center;
	     margin-top:0px;
		 padding-top:0px; 
		 }      
      
      

h4{ position: block; 
	color: white;
	margin-top: 3px;}
	
h1{ color: white;}
	




		


header {
	margin-top:0px;
	background-color: white;
	text-align:center;
	padding: 0px;
	
	}
	

	
.container {
	width: 100%;
	background-color: black;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

.isoruutu {
}
nav {background-color: black; margint-top: -20px;}
nav ul{border-style:none;
	list-style: none;
	margin-bottom: opx; 
}

nav li {border-style:none; 
	 display:inline-block; padding: 8px; /* this creates the button separation */
}
nav a, nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	width: 100%;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-decoration: none;
	background-color: black;
	color: white;
}
nav a:hover, nav a:active, nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background-color: black;
	color:  white;
}
#flag {  height: 20px; width:auto; float: right;
		 display: inline-block; padding: 0px;
		 margin-top: -20px;
		 margin-right: 25px;
	
}

#logo {float: left;
		margin-top: 0px;
		width:auto; height:135px;}

button {background-color: black; color: white; border: none;}




.dropdown {
	background-color: black;
    position: right;
    display: inline-block;
    margin-top: 10px;
    align: center;
}

.dropdown-content {
    display: none;
    position: absolute; 
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    color: black;
     //*margin-left: -120px;*//
     align: center;
     
}

.dropdown-content a {
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;

   
}


    
.pizzalista{ text-align:center; position: relative;
}

.pizzalista tr, th, td, table  {text-align:left; border-style:none; border:none; color: white;
								margin-left: 10px;
} 

.taytteet {margin-top: -35px;}

.postii {}
.vsoregano {font-size: 75%;}
.mauste {margin-top: 40px; size: 10;}




.tilaa {position: center;
		text-align: center;
		color:black}      
   
footer {
	padding: 10px 0;
	background-color: black;
	position: relative;
	color: white;
	text-align: center;
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}        