@CHARSET "UTF-8";

*{
}


html{text-align:center;
	background-color:#ccefff;
	
}

body{
	font-family: Georgia;
	color: black;
	
}


header{text-align:right;
	
}

.loginrow2 {text-align: right;
			font-size: 15px;
			padding-right:20px;
}

.login {
		text-align: right;
		font-size: 15px;
		padding-right:190px;	
}





.lomake{
		
		width:600px;
		display: inline-block;
	
}

.listaa-pizzat{background-color:#f2f2f2;
					margin-top: 10px;
					color:black;
	
}

.lisaa-pizza{text-align:left;
	
	
}

.taytteet{text-align:left;
			font-family: Georgia;
			font-size: 20px;
			padding:5px;
}

h2{
	
}

p{font-family: Georgia;
font-size: 20px;
color: red;
	
}

h3{margin-top:20%;
	
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	padding:1px;
	font-size: 13px;
    text-decoration: none;
    color: initial;
    
    
}

input[type=submit]{
    font-family: 'Georgia';
    font-size: 13px;
}

.toiminnot{width:150px;
			text-align: center;
}
			
.pizzat{font-size: 20px;
			padding:5px;
	
}

.dropdown {
	
    position: relative;
   
    
}

.dropdown-content {
    display: none;
    position: relative;
   
}

.dropdown-content a {
    color: white;
   
}
.dropdown:hover .dropdown-content {
    display:block;
    
}

.listaa-tilaukset{ 
					
					margin-left:20%;
					float:left;
					
					
					
					
					
					
					
	
}

.listaa-tilaukset2{
					
					float:left;
					margin-left:20px;
					
					
					
					
					
					
	
}

.kokki{padding:0;

}

.kokki2{padding:0;

	
}

