body {font-family:tahoma, arial, sans-serif;    

      
      }

header img {
            
            width:300px}
            
header {text-align:center}





footer {text-align:center;
        padding:10px;
        
        }


nav ul {padding-left:5px}
nav li {display:inline}
a {color:black}


/*
nav ul li {background-color:rgb(153,229,127);
           list-style-type:none;
           float:left;
           margin-right:10px;
           margin-bottom:5px;
           text-align:center;
           width:100px;
           padding:5px}
           
           .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 
 /*välilehti kamaa*/
.tabs, .tabs-content {
	border: none
}
.tabs {

	margin: 0;
}

.tabs::after, .tabs::before {
	content: ' ';
	display: table
}

.tabs.simple>li>a {
	padding: 0;
	
}

.tabs.simple>li>a:hover {
	background: #580000 ;
}

.tabs.vertical>li {
	width: auto;
	float: none;
	display: block
}

.tabs-title, .title-bar-left {
	float: left
}

.tabs.primary {
	background: #980000  ;
	
}

.tabs.primary>li>a {
	color: #fefefe
}

.tabs-title>a {
	display: block;
	padding: 1.25rem 1.5rem;
	line-height: 1;
	font-size: 18px;
	color: white;
}

.tabs-title>a:focus, .tabs-title>a:hover, .tabs-title>a[aria-selected=true]
	{
background: #980000  ; 
}

.tabs-content {
	transition: all .5s ease;
	border-top: 0
}

.tabs-content.vertical {
	border: none;
	border-left: 0
}

.tabs-panel {
	display: none;
	padding-bottom: 1rem;

}

.tabs-panel.is-active {
	display: block
}
.tabs::after{
	clear: both
	
}
.tabs ul {
	list-style-type: none;
}

           
           